# Managed by Composer
vendor/

/composer.phar
/composer.lock
/*.xml
/nbproject
/.idea
composer
phpunit.phar
var/*
/.docker/
/.phpunit.result.cache
/phpcs-report.json
/phpstan-report.json
/phpmd-report.json
/cs_fixer-report.json
/docker-compose.yml